.navbar nav{
    background-color: rgb(58, 56, 56);
    margin-top: -17px;
    height: 50px;
    margin-left: -10px;
    margin-right: -10px;
}
.navbar nav ul a li{
    display: inline-block;
    margin-left: 80px;
    color: white;
    margin-top: 15px;
}
.covid{
    background-color: #0379E1   ;
    height: 50px;
    margin-top: -16px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
    
}
.covid p{
    padding: 12px;
   
}
.covid p a{
    text-decoration: none;
    color: antiquewhite;
}
.covid p a:active{
    text-decoration: underline;
}
.shoponline{
    text-align: center;
}
.shoponline p a{
    text-decoration: none;
    color: blue;
}
.iphone12{
    text-align: center;
    margin-top: 40px;
}
.iphone12 p a{
    text-decoration: none;
    
}
.ip12 a{
    font-size: 60px;
    color: black;
    font-weight: bold;
}
.blast a{
    color: black;
    font-size: 30px;
}
.rate a{
    font-size: 16px;
    color: gray;
}
.buy a{
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
    color: blue;
}



.ip12Pro{
    text-align: center;
    background-color: black;
    margin-left: -10px;
    margin-right: -10px;
}

.ip12Pro p a{
    text-decoration: none;
}


.pro a{
    margin-top: 30px;
    font-size: 60px;
    color: white;
    font-weight: bold;
}
.proLeap a{
    color: white;
    font-size: 30px;
}
.proRate a{
    text-decoration: none;
    font-size: 20px;
    color:gray;
}
.proBuy a{
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
    color: blue;
}


.ipad-div{
    text-align: center;
}

.ipad-div p a{
    text-decoration: none;
}

.ipad a{
    margin-top: 30px;
    font-size: 60px;
    color: black;
    font-weight: bold;
}
.ipadQuality a{
    font-size: 30px;
    color:black;
}

.ipad-learnmore{
    text-decoration: none;
    font-size: 23px;
    color: blue;
}

.instructions{
    margin-left: 200px;
    
    font-size: 13px;
    color: grey;
}



.shop-and-learn p , .services p , .account p , .apple-store p , .for-buisness p{
    font-weight: bold;
    font-size: 14px;
}

.shop-and-learn ul , .services ul , .account ul .apple-store ul , .for-buisness ul{
    list-style-type: none;
    line-height: 20px;
}
.shop-and-learn ul li a , .services ul li a , .account ul li a , .apple-store ul li a , .for-buisness ul li a{
    text-decoration: none;
    color: grey;
    font-size: 13px;
}
.for-education p , .for-education p , .for-healthecare p , .for-gov p , .apple-values p , .about-people p{
    font-weight: bold;
    font-size: 14px;
}
.for-buisness ul , .for-education ul , .for-healthecare ul , .for-gov ul , .apple-values ul , .about-people ul{
    list-style-type: none;
    line-height: 20px;
}
.for-buisness ul li a , .for-education ul li a , .for-healthecare ul li a , .for-gov ul li a , .apple-values ul li a , .about-people ul li a{
    text-decoration: none;
    color: grey;
    font-size: 13px;
}




.fottermenus{
   margin-left: 200px;
   margin-top: 50px;
}
.row2{
    margin-left: 200px;
    margin-top: -290px;
}
.apple-store{
    margin-left: 400px;
    margin-top: -350px;
}
.row4{
    margin-left: 600px;
    margin-top: -260px;
}
.row5{
    margin-left: 800px;
    margin-top: -400px;
}
.moreways p{
    margin-top: 80px;
    font-size: 13px;
    margin-left: 200px;
}

.policy{
    margin-left: 200px;
    font-size: 13px;
}
.policy p a{
    text-decoration: none;
    color: grey;
    margin-left: 40px;
}